body {
    font-family: "Space Grotesk", sans-serif;
}

h1 {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 70px;
    font-size: clamp(3rem, 6vw, 4.375rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 2.625rem);
    font-weight: 200;
}

h3 {
    font-size: clamp(1.75rem, 4vw, 2.25rem);
    font-weight: 100;
}

h4 {
    font-size: clamp(1.25rem, 3.5vw, 1.5rem);
    font-weight: 200;
}

h5 {
    font-size: clamp(1.125rem, 3vw, 1.25rem);
    font-weight: 200;
}

p {
    font-weight: 200;
    color: #b6b6b6;
}

a {
    text-decoration: none;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-padding {
    padding-top: 100px;
}

.bottom-padding {
    padding-bottom: 100px;
}

.bottom-padding-sm {
    padding-bottom: 50px;
}

.navbar {
    background-color: transparent !important;
    z-index: 10;
}

.navbar .nav-link {
    color: white;
    font-weight: 200;
}

.logo {
    height: 15px;
}

.copyright {
    display: flex;
    flex-direction: row;
    gap: 0;
    color: white;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 0;
    justify-content: space-between;
}

.terms {
    display: flex;
    gap: 20px;
}

.terms a {
    color: white !important;
}

.home-banner-container {
    margin-top: -106px;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.home-banner-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    pointer-events: none;
}

.home-banner-container-text {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home-banner {
    display: block;
    width: 100%;
    height: auto;
}

.raised-section {
    margin-top: -200px;
    position: relative;
    z-index: 2;
}

.home-user-banner {
    position: relative;
    overflow: hidden;
    height: 600px;
    color: white;
    padding-top: 45px;
}

.banner-bg-img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -1;
    transition: transform 0.5s ease-out;
}

.home-user-banner-1 .banner-bg-img {
    object-position: 60% bottom;
}

.home-user-banner-2 .banner-bg-img {
    object-position: 20% center;
}

.home-user-banner-3 .banner-bg-img {
    object-position: 65% bottom;
}

.home-banner-content {
    max-width: 520px;
}

.values-icon {
    width: 50px;
}

.border-start-lg {
    border-left: 1px solid #444;
}

.button.button--filled {
    border: none;
    color: #000;
    /* line-height: 1.33334em; */
    background: #a4a2a2;
    background-image: linear-gradient(99deg, #ffffff00 30%, #ffffff 100%), radial-gradient(circle at 50% 50%, #ffffff 0, #ffffff00 70%);
    background-size: 100% 100%, 90% 100%;
    background-position: 0 0, -800% 0;
    background-repeat: no-repeat;
    transition: background-position .9s cubic-bezier(.25, .1, .14, .91), color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
}

.button {
    /* font-weight: 400;
    letter-spacing: .02em;
    font-size: 15px;
    line-height: 1.4592em;
    letter-spacing: 0; */
    position: relative;
    display: inline-flex;
    width: auto;
    margin: 0;
    /* text-decoration: none; */
    border-radius: 22px;
    /* outline: 0; */
    transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out, opacity .2s ease-out;
    column-gap: 19px;
    align-items: center;
    padding: 10px 26px;
}

.button.button--filled:hover {
    background-position: 0 0, 150% 0;
}