.custom-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

@media only screen and (min-width: 576px) {
    .custom-container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .custom-container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .custom-container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px) {
    .custom-container {
        max-width: 1320px;
    }
}

@media only screen and (min-width: 1600px) {
    .custom-container {
        max-width: 1576px;
    }
}