@media only screen and (max-width: 1599px) {

}

@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
    .row {
        --bs-gutter-y: 1.5rem;
    }

    .border-start-lg {
        border-left: none;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
    .navbar {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .home-banner-container {
        margin-top: 0;
    }
}