@media only screen and (max-width: 1599px) {

}

@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {
    .raised-section {
        margin-top: -150px;
    }

    .home-user-banner {
        height: 500px;
    }
}

@media only screen and (max-width: 991px) {
    .row {
        --bs-gutter-y: 1.5rem;
    }

    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* .section-padding-sm {
        padding-top: 25px;
        padding-bottom: 25px;
    } */

    .bottom-padding {
        padding-bottom: 50px;
    }

    .bottom-padding-sm {
        padding-bottom: 25px;
    }

    .top-padding {
        padding-top: 50px;
    }

    .border-start-lg {
        border-left: none;
    }

    .raised-section {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 767px) {
    .home-user-banner {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 575px) {
    .navbar {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        margin-bottom: 0;
    }

    .home-banner-container {
        margin-top: 0;
    }

    .raised-section {
        margin-top: -25px;
    }
}